---
import TimelineItem from './TimelineItem.astro';
import { getTimelineItems } from '../data/experiences';
const { currentLocale } = Astro;

const items = getTimelineItems(currentLocale ?? "");
---

<ol class="relative mt-4 sm:mt-6 border-l border-gray-200 dark:border-gray-700">
  {items.map(item => (
    <li class="mb-10 ms-6">
      <TimelineItem 
        title={item.title} 
        company={item.company} 
        date={item.date} 
        description={item.description} 
        recent={item.recent} 
      />
    </li>
  ))}
</ol>
